.idea
build
vendor
composer.lock

# Share ide configuration
!.idea/inspectionProfiles/*
!.idea/codeStyleSettings.xml
!.idea/scopes/*
!.idea/php.xml
!.idea/misc.xml
!.idea/.name
!.idea/ElementFinder.iml
